# Docker
docker-compose.override.yml

vendor/
composer.lock
phpunit.xml

Tests/Transport/assets/**/*.json

# Infection
infection.log
summary.log

# Tools
.deptrac.cache
.php-cs-fixer.cache

# Tests
.phpunit.result.cache
tests/.assets/**/*.json
assets/**/*.json

# Docker
docker-compose.override.yaml
