/.cloud export-ignore
/.github export-ignore
/assets
/doc
/tests export-ignore
/CHANGELOG.md export-ignore
/docker-compose.override.yaml.dist export-ignore
/docker-compose.override.yml.dist export-ignore
/docker-compose.yaml export-ignore
/infection.json.dist export-ignore
/LICENSE export-ignore
/Makefile export-ignore
/phpstan.neon.8.0.dist export-ignore
/phpstan.neon.8.1.dist export-ignore
/phpunit.xml.dist export-ignore
/README.md export-ignore
/rector.php export-ignore
/.changelog export-ignore
/.dockerignore export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/.php-cs-fixer.dist.php export-ignore
/.symfony.insight.yaml export-ignore
