{
    "source": {
        "directories": [
            "src"
        ]
    },
    "timeout": 10,
    "phpUnit": {
        "configDir": "."
    },
    "logs": {
        "stryker": {
            "badge": "main"
        },
        "text": "infection.log",
        "summary": "summary.log"
    },
    "mutators": {
        "@default": true
    },
    "testFramework": "phpunit",
    "minCoveredMsi": 92,
    "minMsi": 88
}
