includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
    level: 1
    paths:
        - src
        - tests
    excludePaths:
        - vendor
