includes:
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
    level: 7
    paths:
        - src
        - tests
    excludePaths:
        - vendor
    ignoreErrors:
        - '#Instantiated class Fiber not found#'
        - '#Call to method start\(\) on an unknown class Fiber#'
        - '#Call to static method suspend\(\) on an unknown class Fiber#'
