includes:
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
    level: 9
    paths:
        - src
        - tests
    excludePaths:
        - vendor
    ignoreErrors:
        - '#Instantiated class Fiber not found#'
        - '#Call to method start\(\) on an unknown class Fiber#'
        - '#Call to static method suspend\(\) on an unknown class Fiber#'
        # The following can be dropped once Symfony 7.0+ will be required
        - '#Method .* has parameter \$context with no value type specified in iterable type array.#'
